<!DOCTYPE html>

    <%- include("../partials/head"); %>

    <body class="container">
        <%-include("../partials/header", { pagina: "Sobre" }); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Oi, meu nome é Tiago Santos e sou estudante de Ciência da Computação na UFAM.</p>
            </div>
        </main>

        <%- include("../partials/footer"); %>
    </body>
</html>